# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?


.env
.env.solo
.env.testnet
.env.mainnet


# Hardhat files
/cache
/artifacts

# TypeChain files
src/typechain


# solidity-coverage files
**/coverage.json

.mnemonic
.privateKey
.etherscan
.infura

.turbo

packages/config/local.ts

packages/contracts/artifacts/
packages/contracts/cache/
packages/contracts/coverage/
packages/contracts/coverage.json
packages/contracts/deploy_output/
packages/contracts/docs/
packages/contracts/scripts/data_exports/data
packages/contracts/typechain-types/
packages/contracts/metadata/stargateNFT/metadata.zip

packages/contracts-artifacts/artifacts/
packages/contracts-artifacts/dist-cjs/
packages/contracts-artifacts/dist-esm/
packages/contracts-artifacts/typechain-types/


packages/contracts/.openzeppelin/unknown-246.json
packages/contracts/sourcify-verification*

*.cookie

.history

