name: Thor Integration Testing

on:
  workflow_dispatch:
  pull_request:
    branches:
      - main
      - develop
  push:
    branches:
      - main
      - develop

jobs:
  check-changes:
    name: Check Changes in PR
    runs-on: ubuntu-latest
    outputs:
      contracts-changed: ${{ steps.changes.outputs.contracts }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

      - name: Check for changes
        id: changes
        uses: dorny/paths-filter@v3
        with:
          filters: |
            contracts:
              - 'packages/contracts/**'

  run-contracts-tests:
    name: SC Test ${{ matrix.label }}
    runs-on: ubuntu-latest
    needs: check-changes
    if: needs.check-changes.outputs.contracts-changed == 'true'
    env:
      NODE_OPTIONS: "--max-old-space-size=8192"
    strategy:
      fail-fast: false
      matrix:
        include:
          - shard: shard-i1
            label: Protocol Contracts Getters
          - shard: shard-i2
            label: Stargate Delegation
          - shard: shard-i3
            label: Stargate Rewards
          - shard: shard-i4
            label: Boost Maturity Period
          - shard: shard-i5
            label: Stargate Delegation Status
          - shard: shard-i6
            label: Node Migration
          - shard: shard-i7
            label: Stargate Pausing
          - shard: shard-i8
            label: StargateNFT Upgradeability
          - shard: shard-i9
            label: Token Manager
    steps:
      - name: Checkout repository
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

      - name: Use Node v20
        uses: actions/setup-node@a0853c24544627f65ddf259abe73b1d18a591444 # v5.0.0
        with:
          node-version-file: .nvmrc
          cache: "yarn"

      - name: Cache node_modules
        uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830 # v4.3.0
        with:
          path: |
            node_modules
            packages/*/node_modules
          key: ${{ runner.os }}-node-modules-${{ hashFiles('**/yarn.lock') }}

      - name: Cache Solidity compilers
        uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830 # v4.3.0
        with:
          path: ~/.cache/hardhat-nodejs
          key: ${{ runner.os }}-solc-${{ hashFiles('./packages/contracts/hardhat.config.ts') }}
          restore-keys: |
            ${{ runner.os }}-solc-

      - name: Install dependencies
        run: yarn install --frozen-lockfile

      - name: Set shard environment variable
        run: echo "SHARD=${{ matrix.shard }}" >> $GITHUB_ENV

      - name: Run tests
        run: npx dotenv -e .env.example -- yarn contracts:test:integration


  run-slither:
       name: Slither Analysis
       uses: vechain/github-actions/.github/workflows/slither.yaml@72c47d9d8d3f9ed4404f9056f48967e524b43ae9 # v.1.13.0
       needs: check-changes
       secrets: inherit
       if: needs.check-changes.outputs.contracts-changed == 'true'
       with:
         target: "packages/contracts/"
         solc-version: "0.8.20"
         ignore-compile: true
         fail-on: none
         compile-command: 'yarn contracts:compile'
         slither-args: '--filter-paths "(openzeppelin|mocks|interfaces|deprecated|templates|NodeManagement/NodeManagementV1.sol|NodeManagement/NodeManagementV2.sol)" --config-file slither.config.json --checklist --json slither.raw.json --markdown-root ${{ github.server_url }}/${{ github.repository }}/blob/${{ github.sha }}/'
