name: Hardhat Unit Testing

on:
  workflow_dispatch:
  pull_request:
    branches:
      - main
      - develop
  push:
    branches:
      - main
      - develop

jobs:
  check-changes:
    name: Check Changes in PR
    runs-on: ubuntu-latest
    outputs:
      contracts-changed: ${{ steps.changes.outputs.contracts }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@f43a0e5ff2bd294095638e18286ca9a3d1956744 # v3

      - name: Check for changes
        id: changes
        uses: dorny/paths-filter@de90cc6fb38fc0963ad72b210f1f284cd68cea36 # v3.0.2
        with:
          filters: |
            contracts:
              - 'packages/contracts/**'

  run-contracts-tests:
    name: SC Test ${{ matrix.label }}
    runs-on: ubuntu-latest
    needs: check-changes
    if: needs.check-changes.outputs.contracts-changed == 'true'
    env:
      NODE_OPTIONS: "--max-old-space-size=8192"
    strategy:
      fail-fast: false
      matrix:
        include:
          - shard: shard-u1
            label: Stargate Staking
          - shard: shard-u2
            label: Stargate Delegation
          - shard: shard-u3
            label: Stargate Delegation Status
          - shard: shard-u4
            label: Stargate Rewards
          - shard: shard-u5
            label: Stargate Pausing
          - shard: shard-u6
            label: Stargate Clock
          - shard: shard-u7
            label: Stargate Contracts
          - shard: shard-u101
            label: StargateNFT Levels
          - shard: shard-u102
            label: StargateNFT MintingLogic
          - shard: shard-u103
            label: StargateNFT Boost
          - shard: shard-u104
            label: StargateNFT Migrate
          - shard: shard-u105
            label: StargateNFT Token Manager
          - shard: shard-u106
            label: StargateNFT Settings
          - shard: shard-u107
            label: StargateNFT Token

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Use Node v20
        uses: actions/setup-node@v3
        with:
          node-version-file: .nvmrc
          cache: "yarn"

      - name: Cache node_modules
        uses: actions/cache@v3
        with:
          path: |
            node_modules
            packages/*/node_modules
          key: ${{ runner.os }}-node-modules-${{ hashFiles('**/yarn.lock') }}

      - name: Cache Solidity compilers
        uses: actions/cache@v3
        with:
          path: ~/.cache/hardhat-nodejs
          key: ${{ runner.os }}-solc-${{ hashFiles('./packages/contracts/hardhat.config.ts') }}
          restore-keys: |
            ${{ runner.os }}-solc-

      - name: Install dependencies
        run: yarn install --frozen-lockfile

      - name: Set shard environment variable
        run: echo "SHARD=${{ matrix.shard }}" >> $GITHUB_ENV

      - name: Run tests
        run: npx dotenv -e .env.example -- yarn contracts:test:unit
